.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo {
  margin-top: -4px;
  font: 25px Courier New, Courier, monospace;
}

h2 {
  font: 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 15px 0;
}

p.summary {
  font-size: 16px;
  line-height: 1.5;
}

.summary__list {
  margin: 0;
}

.jumbotron {
  padding: 0;
  margin: 96px 0 10px;
}

.jumbotron--home {
  padding: 0;
}

li.active a {
  cursor: default;
}

.example {
  text-align: center;
}

.example__target {
  padding: 10px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border 0.2s ease-in-out;
  text-align: center;
}

.example__target.example__target--basic {
  border-color: transparent;
}

.example__target:hover {
  border-color: #337ab7;
}

.example__instructions {
  margin-top: 10px;
  color: #337ab7;
}

.example__instructions--solo {
  margin-bottom: 10px;
}

.example__source-container {
  margin: 20px 0;
}

.example__source-css {
  margin-top: 15px;
}

.example__external-label {
  margin-top: 10px;
}

@media (min-width: 420px) {
  .jumbotron {
    margin-top: 51px;
  }
}

@media (min-width: 768px) {
  .jumbotron {
    margin-top: 51px;
  }

  .example__source-container {
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .jumbotron {
    margin-top: 97px;
  }
}
.col-main {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 30px;
}
.one-page-checkout {
  list-style: none;
  padding: 25px;
  position: relative;
  margin-top: 0px;
  padding-bottom: 30px;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #eee #eee #d5d5d5 #eee;
  box-shadow: 0 5px 0 rgba(200, 200, 200, 0.2);
  margin-bottom: 0px;
}
.one-page-checkout li.section {
  border-bottom: 0;
  margin-bottom: 8px;
}
.one-page-checkout .step-title {
  text-align: right;
  padding: 7px 0;
}
.one-page-checkout .active .step-title {
  cursor: default;
  font-size: 14px;
  padding-top: 0px;
  text-align: left;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  border-top: none;
}
.one-page-checkout .step-title .number {
  float: left;
  line-height: 15px;
  font-size: 14px;
  color: #333;
  padding: 10px 14px;
  background-color: #fff;
  border: 1px #e5e5e5 solid;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  border-radius: 999px;
}
.one-page-checkout .step-title h3 {
  border-bottom: 0px solid #e4e4e4;
  margin: 0 0 0 45px;
  text-align: left;
  line-height: 38px;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  color: #333;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.one-page-checkout .active .step-title .number {
  background: none repeat scroll 0 0 #80b435;
  border: 1px solid #80b435;
  color: #fff;
  padding: 10px 14px;
  font-weight: bold;
  border-radius: 999px;
}
.one-page-checkout .active .step-title h3 {
  color: #80b435;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.one-page-checkout .step {
  padding: 0px 10px 10px 45px;
  background-color: #ffffff;
}
#checkoutSteps .required {
  color: #f00;
}
fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}
.group-select li {
  margin: 0 0 10px;
  overflow: hidden;
  list-style: none;
}
.group-select input[type='radio'],
.group-select input[type='checkbox'] {
  line-height: normal;
  margin: 4px 8px 0 0;
}

.group-select input[type='radio'] {
  margin: 0px 0px 0px 0px;
  vertical-align: middle;
}

.group-select label {
  font-size: 13px;
  font-weight: normal;
  color: #333;
  margin: 0px;
  margin-right: 10px;
}
.group-select li select {
  /*width: 256px;*/
  padding: 3px;
  background: #fff;
  border: 1px solid #d1d1d1;
  padding: 10px;
  width: 95%;
}
select#billing-address-select {
  width: 570px;
  padding: 10px 15px;
  margin-top: 5px;
  background: #fff;
  border: 1px solid #d1d1d1;
  outline: none;
  color: #333;
}
legend {
  display: none;
}
.group-select li .input-box {
  float: left;
  width: 50%;
}
.group-select .require {
  color: #ff0000;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
input.radio {
  margin: 0;
  margin-right: 5px;
  vertical-align: middle;
}
.radio,
.checkbox {
  display: inline-block;
}
button.button.continue:before {
  content: '\f061';
  font-family: FontAwesome;
  font-size: 12px;
  padding-right: 8px;
}
.dashboard .welcome-msg {
  text-align: left;
  padding: 20px;
  color: #333;
  font-size: 13px;
}
.dashboard .welcome-msg strong {
  font-weight: 600;
  font-size: 14px;
}
.data-table {
  border: 1px solid #e5e5e5;
  border-spacing: 0;
  text-align: left;
  width: 100%;
  font-size: 13px;
}
#my-orders-table {
  border: none;
  margin-top: 10px;
}
.my-account {
  padding: 5px 0px;
  position: relative;
  margin-top: 0px;
  padding-bottom: 30px;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #eee #eee #d5d5d5 #eee;
  box-shadow: 0 5px 0 rgba(200, 200, 200, 0.2);
}
.title-buttons a,
.title-buttons .separator {
  margin-top: 0;
  display: inline-block;
  text-decoration: underline;
  color: #ed6663;
  font-size: 12px;
}
.recent-orders .title-buttons a {
  float: right;
}
.data-table thead tr,
.data-table tfoot tr {
}
.data-table th {
  line-height: 20px;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
}
.data-table thead td,
.data-table tfoot th,
.data-table tfoot td,
.cart .totals table th,
.cart .totals table td {
  border-top: 0px solid #ddd;
  border-bottom: 1px solid #e5e5e5;
  font-family: 'Open Sans', sans-serif;
}
.data-table .price {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.group-select li input.input-text,
.group-select li textarea {
  /*width: 585px;*/
  background: #fff;
  border: 1px solid #d1d1d1;
  padding: 10px 15px;
  outline: none;
  width: 98%;
}
.group-select li .input-box input.input-text,
.group-select li .input-box textarea {
  /*width: 275px;*/
  margin-top: 5px;
  background: #fff;
  border: 1px solid #d1d1d1;
  padding: 10px 15px;
  width: 95%;
}
.group-select li .input-box input.input-text:focus,
.group-select li .input-box textarea:focus {
  background: #fff;
  border: 1px solid #ddd;
}
.group-select li input.input-text:focus,
.group-select li textarea:focus {
  background: #fff;
  border: 1px solid #ddd;
  outline: none;
}
.box-account {
  margin-top: 0px;
  font-size: 14px;
  padding: 20px;
}
.col2-right-layout {
  margin-top: 10px;
}
.box-account .page-title h2 {
  font-size: 14px;
  margin-top: 15px;
  padding: 0px;
  font-family: 'Rubik', sans-serif;
}
.col2-set {
  overflow: hidden;
  padding: 0px;
}
.col2-set h2 {
  font-size: 16px;
}
.col2-set .col-1 {
  float: left;
  width: 48%;
  text-align: left;
  border: 0px #336600 solid;
  padding-top: 0px;
  padding-bottom: 0px;
}
.col2-set .col-1 ul.ul {
  margin: auto;
  padding-left: 17px;
}
.col2-set .col-1 ul li {
  list-style: disc;
}
.col2-set h5 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}
.box-account .col2-set a {
  text-decoration: underline;
}
.col2-set .col-2 {
  float: right;
  width: 48%;
  text-align: left;
}
.box-account address {
  line-height: 21px;
  color: #000;
  border-bottom: none;
}
.col2-set h4 {
  font-size: 13px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  margin-bottom: 5px;
}
.block .slider-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.block-layered-nav .block-subtitle {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}
.block-layered-nav dt {
  font-size: 16px;
}
.block-layered-nav .currently ol {
  margin: 0;
  padding: 10px 15px;
}
.block-layered-nav .currently span.value {
  font-weight: bold;
}
.block-layered-nav li {
  padding: 3px 0;
  color: #999;
}
.block-layered-nav .label {
  margin-right: 5px;
}
.block-layered-nav .button-arrow {
  width: 25px;
  height: 25px;
  padding: 0;
  margin-top: -2px;
  position: absolute;
  right: 15px;
}
#narrow-by-list2 dd {
  display: block !important;
}
.sidebar {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 30px;
  padding-left: 0px;
}

.col-right.sidebar {
  padding-left: 15px;
  margin-top: 0px;
}
